<p id="notice"><%= notice %></p>

<h1>All Books</h1>

<table id="books" class="table table-striped">
  <thead>
    <tr>
      <th>Tytuł</th>
      <th>Autor</th>
      <th>ISBN</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
        <td><%= book.isbn %></td>
        <td align="right">
          <a href="<%= book_url(book) %>" class="btn btn-large btn-primary" >
          <i class="fa fa-eye"></i></a>
          <a href="<%= edit_book_url(book) %>" class="btn btn-large btn-warning" >
          <i class="fa fa-pencil"></i></a>
          <button <%= "disabled" if book.borrowed %> onclick=borrow(<%=book.id%>,this) class="btn btn-large btn-success" >
          <i class="fa fa-hand-lizard-o"></i></button>
          <a href="<%= book_url(book) %>" data-confirm="Are you sure?" rel="nofollow" data-method="delete" class="btn btn-large btn-danger" >
          <i class="fa fa-trash"></i></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<a href="<%= new_book_url %>" class="btn btn-large btn-primary" >
<i class="fa fa-plus-circle"></i> New Book</a>
